// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2011 - 2014 Xilinx
 * Copyright (C) 2016 Jagan Teki <jteki@openedev.com>
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"

/ {
	model = "Avnet MicroZed board";
	compatible = "avnet,zynq-microzed", "xlnx,zynq-microzed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		serial1 = &uart0;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};
};

&clkc {
	fclk-enable = <0x1>; /* Enable FPGA0_CLK */
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
	};
};

&qspi {
	is-dual = <0>;
	num-cs = <1>;
	status = "okay";
	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@qspi-fsbl-uboot {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x100000>;
		};
		partition@qspi-linux {
			label = "qspi-linux";
			reg = <0x100000 0x500000>;
		};
		partition@qspi-device-tree {
			label = "qspi-device-tree";
			reg = <0x600000 0x20000>;
		};
		partition@qspi-rootfs {
			label = "qspi-rootfs";
			reg = <0x620000 0x5E0000>;
		};
		partition@qspi-bitstream {
			label = "qspi-bitstream";
			reg = <0xC00000 0x400000>;
		};
	};
};

&sdhci0 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	ds3232: rtc@68 {
		compatible = "dallas,ds3232";
		interrupt-parent = <&intc>;
		interrupts = <0 31 4 >;
		reg = <0x68>;
	};
};

&i2c1 {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <9600>;
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_default>;
};

&pinctrl0 {
	pinctrl_usb0_default: usb0-default {
		mux {
			groups = "usb0_0_grp";
			function = "usb0";
		};

		conf {
			groups = "usb0_0_grp";
			slew-rate = <0>;
			io-standard = <1>;
		};

		conf-rx {
			pins = "MIO29", "MIO31", "MIO36";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO28", "MIO30", "MIO32", "MIO33", "MIO34",
			       "MIO35", "MIO37", "MIO38", "MIO39";
			bias-disable;
		};
	};
};

&amba {
	i2c2: i2c@41600000 {
		compatible = "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&intc>;
		clocks = <&clkc 15>;
		interrupts = <0 29 4 >;
		reg = < 0x41600000 0x10000 >;
		#size-cells = <0>;
		#address-cells = <1>;
	};

	pps0: pps@80600000 {
		compatible = "fpga,ocxo-pps-0.90";
		interrupt-parent = <&intc>;
		interrupts = <0 32 4 >;
		reg = < 0x80600000 0x2000 >;
		#size-cells = <0>;
		#address-cells = <1>;
	};
};
